# Ignore some basic stuff
home-assistant*
core
appdaemon/appdaemon.yaml
*.pyc
zigbee.db
*.cache

# Ignore folders.
.storage
.cloud
.google.token

# Ensure these YAML files are ignored, otherwise your secret data/credentials will leak.
ip_bans.yaml
secrets.yaml
known_devices.yaml

# Solcast temp files
solcast*

# Bambu cache files
www/media/ha-bambulab/**/prints/*

# Tibber graph
www/tibber*.png

# TTS files
tts/*

# Lock files
*.lock

file_notifications/*.txt

# Solar Forecast ML
solar_forecast_ml/
