- id: '1760792838672'
  alias: Turn off PoE when door locks
  description: ''
  triggers:
  - trigger: state
    entity_id:
    - lock.home
    to: locked
  conditions: []
  actions:
  - type: turn_off
    device_id: a0fc21070bd65c1c856cb76779093e8d
    entity_id: 98e8377d61e0ac7a353988c1511c4fd7
    domain: switch
  - type: turn_off
    device_id: a0fc21070bd65c1c856cb76779093e8d
    entity_id: fac5b8708ea24f89fb09f34c1ec11399
    domain: switch
  - condition: time
    after: 08:02:00
    before: '21:59:00'
  - action: light.turn_off
    metadata: {}
    data: {}
    target:
      entity_id:
      - light.room_bad
      - light.room_buero_fabian
      - light.room_buero_merja
      - light.room_flur
      - light.room_kueche
      - light.room_schlafzimmer
      - light.room_speisekammer
      - light.room_wohnzimmer
  mode: single
- id: '1760793040596'
  alias: Turn on PoE when door unlocks
  description: ''
  triggers:
  - trigger: state
    entity_id:
    - lock.home
    to: unlocked
  conditions: []
  actions:
  - type: turn_on
    device_id: a0fc21070bd65c1c856cb76779093e8d
    entity_id: 98e8377d61e0ac7a353988c1511c4fd7
    domain: switch
  - type: turn_on
    device_id: a0fc21070bd65c1c856cb76779093e8d
    entity_id: fac5b8708ea24f89fb09f34c1ec11399
    domain: switch
  - condition: time
    before: '21:59:00'
    after: 08:01:00
  - action: light.turn_on
    metadata: {}
    data: {}
    target:
      entity_id:
      - light.room_bad
      - light.room_buero_fabian
      - light.room_buero_merja
      - light.room_flur
      - light.room_kueche
      - light.room_schlafzimmer
      - light.room_speisekammer
      - light.room_wohnzimmer
  mode: single
