homeassistant:
  # Load packages
  packages: !include_dir_named integrations
  external_url: "https://home.genazt.me"

template: !include_dir_list ./entities/template_sensors/
climate: 

automation: !include automations.yaml
automation split: !include_dir_merge_list automations